body{
    background-color: black;
    color: white;
    margin-top: 0;
}
.nav {
    list-style: none;
    width: 96%;
    display: flex;
    padding: 10px 30px 10px 30px ;
    background-color:rgb(15, 14, 14);
    justify-content:center ;
    position:fixed;
    border-radius: 2vw;
}
.nav li a{
    margin :auto;    
    padding: 0vw 2vw;
    font-size: 1.5vw;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.home{
    display:flex;
    list-style: none;
}
.home li img{
    margin : 0 auto;
    max-height: 50vw;
    max-width: auto;
}
#home-description{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(214, 202, 202);
    padding-top: 10vw;
    padding-left: 1vw;
    font-size:2vw;
}
.electronics {
    max-width: 100%;
    max-height:auto;
}
.flex{
    display: flex;
    list-style: none;
    margin-top: 10vw;
}
.flex li p{
    font-size:1.7vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.anatomy{
    max-width: 50vw;
    max-height:auto;
    padding-left: 5vw;
    padding-right: 5vw;
}
.highlight{
    color:red;
}
.flex #rul{
    max-width: 40vw;
    padding-right: 5vw;
    padding-left: 5vw;
}
.points ul{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5vw;
}
#contact {
    list-style: none;
    display:flex;
    justify-content: center;
}
#contact li a img{
    padding: 1vw;
}
#contact li a .soc{
    max-width: 5vw;
}
#git{
    filter :invert(100%)
}
#gm{
    margin-top: 1vw;
}
#sp{
    padding:0vw;
    max-height: 8vw;
}
#yt{
    margin-top:1vw ;
    max-width: 0vw;
}
#headz{
    color: red;
    font-size:3vw;
}
about p{
    justify-content:center;
    font-size: 2vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-left: 20%;
    margin-right:20%;
}
about h1{
    text-align:center;
    font-size:6vw;
}
content h2{
    text-align:center;
    font-size:6vw;
}
#daylist li a {
    color: white;
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}
content_tabs ul li{
    padding:3%;
    margin-left:20%;
    margin-right:20%;
    text-align:center;
    box-shadow: 0 8px 8px 0 rgba(231, 49, 49, 0.2);
    transition: 0.3s;
}

#daylist li a:hover{
    box-shadow: 0 8px 16px 0 rgba(216, 102, 102, 0.2);
}

#daylist {
    list-style: none;
    
}
content_data{
    justify-content:center;
    text-align:center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
div h{
    color:red;
    font-size:3vw;
}

content_data div img{
    max-width:100%;
    max-height: 100%;
}













footer p{
    color:rgb(78, 74, 74);
    text-align: center;
    padding-top: 2vw;
}